@charset "UTF-8";
/**

@import "../../vendor/bootstrap/less/variables.less";
@import "../../vendor/bootstrap/less/mixins/buttons.less";

**/
/**

Variables

Insert here your less variables

**/
/*Colours*/
/*@blue: #009bd3;*/
/*@blue: #2f2f2f;*/
/**

fonts

Insert here your custom fonts

**/
/**** CSS ****/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'countries-map';
  src: url('../fonts/countries-map.eot?4ft0v9');
  src: url('../fonts/countries-map.eot?4ft0v9#iefix') format('embedded-opentype'), url('../fonts/countries-map.ttf?4ft0v9') format('truetype'), url('../fonts/countries-map.woff?4ft0v9') format('woff'), url('../fonts/countries-map.svg?4ft0v9#countries-map') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: 0.1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: 0.3em;
}
.fa.fa-pull-right {
  margin-left: 0.3em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: 0.3em;
}
.fa.pull-right {
  margin-left: 0.3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*.fa-rotate-90 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}*/
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
[class^="em-map-"]:before,
[class*=" em-map-"]:before,
[class^="region-icon-"]:before,
[class*=" region-icon-"]:before {
  font-family: 'countries-map' !important;
  /* speak: none; */
  font-style: normal;
  /* font-weight: normal; */
  /* font-variant: normal; */
  /* text-transform: none; */
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 200px;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-background-clip: text; */
  color: #e4e4e3;
  opacity: .2;
}
[class^="mapBusiness em-map-"]:before {
  font-size: 900px;
  color: #d7121c;
}
.em-map-ad:before {
  content: "\e900";
}
.em-map-ae:before {
  content: "\e901";
}
.em-map-af:before {
  content: "\e902";
}
.em-map-africa:before {
  content: "\e903";
}
.em-map-ag:before {
  content: "\e904";
}
.em-map-ai:before {
  content: "\e905";
}
.em-map-al:before {
  content: "\e906";
}
.em-map-am:before {
  content: "\e907";
}
.em-map-america:before {
  content: "\e908";
}
.em-map-ao:before {
  content: "\e909";
}
.em-map-aq:before {
  content: "\e90a";
}
.em-map-ar:before {
  content: "\e90b";
}
.em-map-as:before {
  content: "\e90c";
}
.em-map-asia:before {
  content: "\e90d";
}
.em-map-at:before {
  content: "\e90e";
}
.em-map-au:before {
  content: "\e90f";
}
.em-map-aw:before {
  content: "\e910";
}
.em-map-ax:before {
  content: "\e911";
}
.em-map-az:before {
  content: "\e912";
}
.em-map-ba:before {
  content: "\e913";
}
.em-map-bb:before {
  content: "\e914";
}
.em-map-bd:before {
  content: "\e915";
}
.em-map-be:before {
  content: "\e916";
}
.em-map-bf:before {
  content: "\e917";
}
.em-map-bg:before {
  content: "\e918";
}
.em-map-bh:before {
  content: "\e919";
}
.em-map-bi:before {
  content: "\e91a";
}
.em-map-bj:before {
  content: "\e91b";
}
.em-map-bl:before {
  content: "\e91c";
}
.em-map-bm:before {
  content: "\e91d";
}
.em-map-bn:before {
  content: "\e91e";
}
.em-map-bo:before {
  content: "\e91f";
}
.em-map-bq:before {
  content: "\e920";
}
.em-map-br:before {
  content: "\e921";
}
.em-map-bs:before {
  content: "\e922";
}
.em-map-bt:before {
  content: "\e923";
}
.em-map-bv:before {
  content: "\e924";
}
.em-map-bw:before {
  content: "\e925";
}
.em-map-by:before {
  content: "\e926";
}
.em-map-bz:before {
  content: "\e927";
}
.em-map-ca:before {
  content: "\e928";
}
.em-map-cc:before {
  content: "\e929";
}
.em-map-cd:before {
  content: "\e92a";
}
.em-map-cf:before {
  content: "\e92b";
}
.em-map-cg:before {
  content: "\e92c";
}
.em-map-ch:before {
  content: "\e92d";
}
.em-map-ci:before {
  content: "\e92e";
}
.em-map-ck:before {
  content: "\e92f";
}
.em-map-cl:before {
  content: "\e930";
}
.em-map-cm:before {
  content: "\e931";
}
.em-map-cn:before {
  content: "\e932";
}
.em-map-co:before {
  content: "\e933";
}
.em-map-cr:before {
  content: "\e934";
}
.em-map-ct:before {
  content: "\e935";
}
.em-map-cu:before {
  content: "\e936";
}
.em-map-cv:before {
  content: "\e937";
}
.em-map-cw:before {
  content: "\e938";
}
.em-map-cx:before {
  content: "\e939";
}
.em-map-cz:before {
  content: "\e93a";
}
.em-map-de:before {
  content: "\e93b";
}
.em-map-dj:before {
  content: "\e93c";
}
.em-map-dk:before {
  content: "\e93d";
}
.em-map-dm:before {
  content: "\e93e";
}
.em-map-do:before {
  content: "\e93f";
}
.em-map-dz:before {
  content: "\e940";
}
.em-map-ec:before {
  content: "\e941";
}
.em-map-ee:before {
  content: "\e942";
}
.em-map-eg:before {
  content: "\e943";
}
.em-map-eh:before {
  content: "\e944";
}
.em-map-er:before {
  content: "\e945";
}
.em-map-es:before {
  content: "\e946";
}
.em-map-et:before {
  content: "\e947";
}
.em-map-europe:before {
  content: "\e948";
}
.em-map-fi:before {
  content: "\e949";
}
.em-map-fj:before {
  content: "\e94a";
}
.em-map-fk:before {
  content: "\e94b";
}
.em-map-fo:before {
  content: "\e94c";
}
.em-map-fr:before {
  content: "\e94d";
}
.em-map-ga:before {
  content: "\e94e";
}
.em-map-gb:before {
  content: "\e94f";
}
.em-map-gd:before {
  content: "\e950";
}
.em-map-ge:before {
  content: "\e951";
}
.em-map-gf:before {
  content: "\e952";
}
.em-map-gg:before {
  content: "\e953";
}
.em-map-gh:before {
  content: "\e954";
}
.em-map-gi:before {
  content: "\e955";
}
.em-map-gl:before {
  content: "\e956";
}
.em-map-gm:before {
  content: "\e957";
}
.em-map-gn:before {
  content: "\e958";
}
.em-map-gp:before {
  content: "\e959";
}
.em-map-gq:before {
  content: "\e95a";
}
.em-map-gr:before {
  content: "\e95b";
}
.em-map-gs:before {
  content: "\e95c";
}
.em-map-gt:before {
  content: "\e95d";
}
.em-map-gu:before {
  content: "\e95e";
}
.em-map-gw:before {
  content: "\e95f";
}
.em-map-gy:before {
  content: "\e960";
}
.em-map-hk:before {
  content: "\e961";
}
.em-map-hm:before {
  content: "\e962";
}
.em-map-hn:before {
  content: "\e963";
}
.em-map-hr:before {
  content: "\e964";
}
.em-map-ht:before {
  content: "\e965";
}
.em-map-hu:before {
  content: "\e966";
}
.em-map-id:before {
  content: "\e967";
}
.em-map-ie:before {
  content: "\e968";
}
.em-map-il:before {
  content: "\e969";
}
.em-map-im:before {
  content: "\e96a";
}
.em-map-in:before {
  content: "\e96b";
}
.em-map-io:before {
  content: "\e96c";
}
.em-map-iq:before {
  content: "\e96d";
}
.em-map-ir:before {
  content: "\e96e";
}
.em-map-is:before {
  content: "\e96f";
}
.em-map-it:before {
  content: "\e970";
}
.em-map-jm:before {
  content: "\e971";
}
.em-map-jo:before {
  content: "\e972";
}
.em-map-jp:before {
  content: "\e973";
}
.em-map-ke:before {
  content: "\e974";
}
.em-map-kg:before {
  content: "\e975";
}
.em-map-kh:before {
  content: "\e976";
}
.em-map-ki:before {
  content: "\e977";
}
.em-map-km:before {
  content: "\e978";
}
.em-map-kn:before {
  content: "\e979";
}
.em-map-kp:before {
  content: "\e97a";
}
.em-map-kr:before {
  content: "\e97b";
}
.em-map-kw:before {
  content: "\e97c";
}
.em-map-ky:before {
  content: "\e97d";
}
.em-map-kz:before {
  content: "\e97e";
}
.em-map-la:before {
  content: "\e97f";
}
.em-map-lb:before {
  content: "\e980";
}
.em-map-lc:before {
  content: "\e981";
}
.em-map-li:before {
  content: "\e982";
}
.em-map-lk:before {
  content: "\e983";
}
.em-map-lr:before {
  content: "\e984";
}
.em-map-ls:before {
  content: "\e985";
}
.em-map-lt:before {
  content: "\e986";
}
.em-map-lu:before {
  content: "\e987";
}
.em-map-lv:before {
  content: "\e988";
}
.em-map-ly:before {
  content: "\e989";
}
.em-map-ma:before {
  content: "\e98a";
}
.em-map-map_world:before {
  content: "\e98b";
}
.em-map-mc:before {
  content: "\e98c";
}
.em-map-md:before {
  content: "\e98d";
}
.em-map-me:before {
  content: "\e98e";
}
.em-map-mf:before {
  content: "\e98f";
}
.em-map-mg:before {
  content: "\e990";
}
.em-map-mk:before {
  content: "\e991";
}
.em-map-ml:before {
  content: "\e992";
}
.em-map-mm:before {
  content: "\e993";
}
.em-map-mn:before {
  content: "\e994";
}
.em-map-mo:before {
  content: "\e995";
}
.em-map-mq:before {
  content: "\e996";
}
.em-map-mr:before {
  content: "\e997";
}
.em-map-ms:before {
  content: "\e998";
}
.em-map-mt:before {
  content: "\e999";
}
.em-map-mu:before {
  content: "\e99a";
}
.em-map-mv:before {
  content: "\e99b";
}
.em-map-mw:before {
  content: "\e99c";
}
.em-map-mx:before {
  content: "\e99d";
}
.em-map-my:before {
  content: "\e99e";
}
.em-map-mz:before {
  content: "\e99f";
}
.em-map-na:before {
  content: "\e9a0";
}
.em-map-nc:before {
  content: "\e9a1";
}
.em-map-ne:before {
  content: "\e9a2";
}
.em-map-nf:before {
  content: "\e9a3";
}
.em-map-ng:before {
  content: "\e9a4";
}
.em-map-ni:before {
  content: "\e9a5";
}
.em-map-nl:before {
  content: "\e9a6";
}
.em-map-no:before {
  content: "\e9a7";
}
.em-map-np:before {
  content: "\e9a8";
}
.em-map-nr:before {
  content: "\e9a9";
}
.em-map-nu:before {
  content: "\e9aa";
}
.em-map-nz:before {
  content: "\e9ab";
}
.em-map-oceania:before {
  content: "\e9ac";
}
.em-map-om:before {
  content: "\e9ad";
}
.em-map-pa:before {
  content: "\e9ae";
}
.em-map-pe:before {
  content: "\e9af";
}
.em-map-pf:before {
  content: "\e9b0";
}
.em-map-pg:before {
  content: "\e9b1";
}
.em-map-ph:before {
  content: "\e9b2";
}
.em-map-pk:before {
  content: "\e9b3";
}
.em-map-pl:before {
  content: "\e9b4";
}
.em-map-pm:before {
  content: "\e9b5";
}
.em-map-pn:before {
  content: "\e9b6";
}
.em-map-pr:before {
  content: "\e9b7";
}
.em-map-pt:before {
  content: "\e9b8";
}
.em-map-pw:before {
  content: "\e9b9";
}
.em-map-py:before {
  content: "\e9ba";
}
.em-map-qa:before {
  content: "\e9bb";
}
.em-map-re:before {
  content: "\e9bc";
}
.em-map-ro:before {
  content: "\e9bd";
}
.em-map-rs:before {
  content: "\e9be";
}
.em-map-ru:before {
  content: "\e9bf";
}
.em-map-rw:before {
  content: "\e9c0";
}
.em-map-sa:before {
  content: "\e9c1";
}
.em-map-sb:before {
  content: "\e9c2";
}
.em-map-sc:before {
  content: "\e9c3";
}
.em-map-sd:before {
  content: "\e9c4";
}
.em-map-se:before {
  content: "\e9c5";
}
.em-map-sg:before {
  content: "\e9c6";
}
.em-map-sh:before {
  content: "\e9c7";
}
.em-map-si:before {
  content: "\e9c8";
}
.em-map-sj:before {
  content: "\e9c9";
}
.em-map-sk:before {
  content: "\e9ca";
}
.em-map-sl:before {
  content: "\e9cb";
}
.em-map-sm:before {
  content: "\e9cc";
}
.em-map-sn:before {
  content: "\e9cd";
}
.em-map-so:before {
  content: "\e9ce";
}
.em-map-sr:before {
  content: "\e9cf";
}
.em-map-ss:before {
  content: "\e9d0";
}
.em-map-st:before {
  content: "\e9d1";
}
.em-map-sv:before {
  content: "\e9d2";
}
.em-map-sx:before {
  content: "\e9d3";
}
.em-map-sy:before {
  content: "\e9d4";
}
.em-map-sz:before {
  content: "\e9d5";
}
.em-map-tc:before {
  content: "\e9d6";
}
.em-map-td:before {
  content: "\e9d7";
}
.em-map-tf:before {
  content: "\e9d8";
}
.em-map-tg:before {
  content: "\e9d9";
}
.em-map-th:before {
  content: "\e9da";
}
.em-map-tj:before {
  content: "\e9db";
}
.em-map-tk:before {
  content: "\e9dc";
}
.em-map-tl:before {
  content: "\e9dd";
}
.em-map-tm:before {
  content: "\e9de";
}
.em-map-tn:before {
  content: "\e9df";
}
.em-map-to:before {
  content: "\e9e0";
}
.em-map-tr:before {
  content: "\e9e1";
}
.em-map-tt:before {
  content: "\e9e2";
}
.em-map-tw:before {
  content: "\e9e3";
}
.em-map-tz:before {
  content: "\e9e4";
}
.em-map-ua:before {
  content: "\e9e5";
}
.em-map-ug:before {
  content: "\e9e6";
}
.em-map-us:before {
  content: "\e9e7";
}
.em-map-uy:before {
  content: "\e9e8";
}
.em-map-uz:before {
  content: "\e9e9";
}
.em-map-va:before {
  content: "\e9ea";
}
.em-map-vc:before {
  content: "\e9eb";
}
.em-map-ve:before {
  content: "\e9ec";
}
.em-map-vg:before {
  content: "\e9ed";
}
.em-map-vi:before {
  content: "\e9ee";
}
.em-map-vn:before {
  content: "\e9ef";
}
.em-map-vu:before {
  content: "\e9f0";
}
.em-map-wf:before {
  content: "\e9f1";
}
.em-map-ws:before {
  content: "\e9f2";
}
.em-map-ye:before {
  content: "\e9f3";
}
.em-map-yt:before {
  content: "\e9f4";
}
.em-map-za:before {
  content: "\e9f5";
}
.em-map-zm:before {
  content: "\e9f6";
}
.em-map-zw:before {
  content: "\e9f7";
}
.region-icon-ae:before,
.region-icon-af:before,
.region-icon-bd:before,
.region-icon-bh:before,
.region-icon-cn:before,
.region-icon-hk:before,
.region-icon-id:before,
.region-icon-in:before,
.region-icon-iq:before,
.region-icon-ir:before,
.region-icon-jo:before,
.region-icon-jp:before,
.region-icon-kr:before,
.region-icon-kw:before,
.region-icon-lb:before,
.region-icon-lk:before,
.region-icon-mu:before,
.region-icon-mv:before,
.region-icon-my:before,
.region-icon-om:before,
.region-icon-p2:before,
.region-icon-ph:before,
.region-icon-pk:before,
.region-icon-qa:before,
.region-icon-sa:before,
.region-icon-sc:before,
.region-icon-sg:before,
.region-icon-th:before,
.region-icon-tw:before,
.region-icon-vn:before,
.region-icon-ye:before {
  content: "\e90d";
}
.region-icon-au:before,
.region-icon-nz:before {
  content: "\e9ac";
}
.region-icon-at:before,
.region-icon-b1:before,
.region-icon-be:before,
.region-icon-bg:before,
.region-icon-ch:before,
.region-icon-cy:before,
.region-icon-cz:before,
.region-icon-de:before,
.region-icon-dk:before,
.region-icon-es:before,
.region-icon-f1:before,
.region-icon-fr:before,
.region-icon-gb:before,
.region-icon-gr:before,
.region-icon-hu:before,
.region-icon-ie:before,
.region-icon-it:before,
.region-icon-mt:before,
.region-icon-nl:before,
.region-icon-no:before,
.region-icon-p1:before,
.region-icon-pl:before,
.region-icon-pt:before,
.region-icon-ro:before,
.region-icon-ru:before,
.region-icon-s1:before,
.region-icon-se:before,
.region-icon-sk:before,
.region-icon-tr:before,
.region-icon-ua:before {
  content: "\e948";
}
.region-icon-ao:before,
.region-icon-ci:before,
.region-icon-dz:before,
.region-icon-eg:before,
.region-icon-et:before,
.region-icon-gh:before,
.region-icon-gn:before,
.region-icon-ke:before,
.region-icon-ma:before,
.region-icon-ml:before,
.region-icon-ng:before,
.region-icon-sd:before,
.region-icon-sn:before,
.region-icon-tn:before,
.region-icon-tz:before,
.region-icon-ug:before,
.region-icon-za:before,
.region-icon-zm:before,
.region-icon-zw:before {
  content: "\e903";
}
.region-icon-ar:before,
.region-icon-br:before,
.region-icon-ca:before,
.region-icon-cl:before,
.region-icon-pa:before,
.region-icon-pe:before,
.region-icon-us:before,
.region-icon-uy:before {
  content: "\e908";
}
.em-map-global:before,
.region-icon-c1:before,
.region-icon-c2:before,
.region-icon-c3:before,
.region-icon-l1:before,
.region-icon-o1:before,
.region-icon-o2:before,
.region-icon-o3:before,
.region-icon-o4:before,
.region-icon-p3:before,
.region-icon-r1:before,
.region-icon-s2:before {
  font-size: 400px;
  content: "\e98b";
}
.em-map-4101:before {
  font-size: 400px;
  content: "\e9f8";
}
.em-map-4104:before {
  font-size: 400px;
  content: "\e9f9";
}
.em-map-latamusa:before {
  font-size: 400px;
  content: "\e9fa";
}
.em-map-4102:before {
  font-size: 400px;
  content: "\e9fb";
}
.em-map-4103:before {
  font-size: 400px;
  content: "\e9fc";
}
/************ARROWS********/
.button-wrapper.type-arrow {
  font-size: 0;
}
.button-wrapper a {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.button-wrapper a:first-child {
  left: 5px;
}
.button-wrapper a:last-child {
  right: 5px;
}
.button-wrapper a:hover {
  opacity: 0.8;
}
.button-wrapper a i:before {
  content: '';
  font-family: FontAwesome;
  font-size: 22px;
  font-style: normal;
  color: #666;
}
.button-wrapper a i.inactive:before {
  cursor: default;
  opacity: .1;
}
.button-wrapper a i.prev:before {
  content: '\f053';
}
.button-wrapper a i.next:before {
  content: '\f054';
}
ds-doubledonut,
hib-donut,
ds-columns-graph,
hib-columns,
ds-overview-bars {
  height: 100%;
  width: 100%;
  display: block;
}
.highcharts-bubble-series > .highcharts-point {
  transform: translateY(-50%);
}
.chart {
  width: 100%;
  height: 100%;
}
.chart .sfr_span {
  display: none;
}
.chart > div:not(.round-parent-wrapper):not(.button-wrapper) {
  height: 100%;
  width: 100%;
}
.chart > div:not(.round-parent-wrapper):not(.button-wrapper) > .highcharts-container {
  width: 100%;
  height: 100%;
}
.charts-main.swarovski span,
.charts-main.telefonica span,
.charts-main.swarovski p,
.charts-main.telefonica p,
.charts-main.swarovski text,
.charts-main.telefonica text,
.charts-main.swarovski .text,
.charts-main.telefonica .text,
.charts-main.swarovski .number-progress,
.charts-main.telefonica .number-progress {
  font-size: 11px !important;
  color: white !important;
  font-family: inherit !important;
}
.charts-main.swarovski text,
.charts-main.telefonica text {
  fill: white !important;
}
.charts-main.swarovski .number-progress span:before,
.charts-main.telefonica .number-progress span:before,
.charts-main.swarovski .number-progress span:after,
.charts-main.telefonica .number-progress span:after {
  font-size: 30px !important;
  font-family: inherit !important;
}
.charts-main.swarovski ds-columns-graph,
.charts-main.telefonica ds-columns-graph,
.charts-main.swarovski ds-doubledonut,
.charts-main.telefonica ds-doubledonut {
  height: 250px;
}
.progress-wrapper .round-progress-wrapper {
  height: 100%;
  opacity: 1;
  transition: all 1s ease-in-out;
  width: 90px !important;
}
.progress-wrapper .round-progress-wrapper.inactive {
  opacity: 0;
}
.progress-wrapper .bar-text-progress-wrapper {
  height: 100%;
  width: -moz-calc(100% - 90px);
  width: -o-calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
  width: calc(100% - 90px);
  display: flex;
  position: relative;
  flex-direction: column;
}
.progress-wrapper .text-progress-wrapper {
  height: 50%;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}
.progress-wrapper .text-progress-wrapper .span-wrapper {
  float: left;
  max-width: 50%;
}
.progress-wrapper .text-progress-wrapper .span-wrapper span {
  float: left;
  clear: both;
  height: 20px;
  margin-bottom: 4px;
  padding-top: 3px;
  padding-left: 10px;
  line-height: 1;
}
.progress-wrapper .text-progress-wrapper .number-progress {
  color: #767679;
  display: flex;
  font-size: 20px;
  font-family: Gotham;
  /* float: left; */
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10px;
}
.progress-wrapper .text-progress-wrapper .number-progress span {
  color: #767679;
  display: flex;
  font-size: 20px;
  font-family: Gotham;
  /* float: left; */
  height: 40px;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
}
.progress-wrapper .text-progress-wrapper .number-progress span:after,
.progress-wrapper .text-progress-wrapper .number-progress span:before {
  color: #e2e2e2;
  font-size: 40px;
  font-family: Gotham-Bold;
}
.progress-wrapper .text-progress-wrapper .number-progress span:after {
  content: "}";
}
.progress-wrapper .text-progress-wrapper .number-progress span:before {
  content: "{";
}
.bar-progress-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  height: 50%;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.bar-progress-wrapper [class^="bar-progress-type-"] {
  bottom: 0px;
  left: 0;
  opacity: 1;
  padding-top: 2px;
  position: relative;
  transition: all 1s ease-in-out;
  width: 100%;
}
.bar-progress-wrapper [class^="bar-progress-type-"].inactive {
  opacity: 0;
}
.bar-progress-wrapper [class^="bar-progress-type-"] p {
  color: #fff;
  position: absolute;
  top: 4px;
  z-index: 1;
}
.bar-progress-wrapper [class^="bar-progress-type-"] .progress__container {
  width: 100% !important;
}
.bar-progress-wrapper [class^="bar-progress-type-"] .progress__container .progress__bar {
  height: 20px;
  width: 0%;
}
.bar-progress-wrapper.bar-progress-wrapper-type-0 {
  height: 4px;
  border-radius: 50px;
  background: #EEE;
}
.bar-progress-wrapper.bar-progress-wrapper-type-0 .progress__container .progress__bar {
  transition-delay: 3s !important;
  height: 4px;
  border-radius: 50px;
  background-color: #3d8ec1;
}
.bar-progress-wrapper.bar-progress-wrapper-type-1 [class^="bar-progress-type-"]:nth-of-type(1) .progress__bar {
  /*background-color: #00927f;*/
  background-color: #767679;
}
.bar-progress-wrapper.bar-progress-wrapper-type-1 [class^="bar-progress-type-"]:nth-of-type(2) .progress__bar {
  /*background-color: #00b7ad;*/
  background-color: #231161;
}
.bar-progress-wrapper.bar-progress-wrapper-type-1 [class^="bar-progress-type-"] p {
  animation: scaleUp 1s;
}
.type-values {
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #D1CCCC;
}
.type-round-progress {
  position: relative;
  width: 100%;
}
.type-round-progress .em-map {
  position: absolute;
  z-index: 0 !important;
  left: 0px;
}
.type-round-progress .em-map.ng-enter {
  animation: scaleUp 1s;
}
.type-round-progress .em-map.ng-leave {
  animation: scaleDown 1s;
}
.type-round-progress .graph > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.type-round-progress .graph > div .progress-wrapper {
  align-items: flex-end;
  display: flex;
  height: 60%;
  position: relative;
  width: 100%;
}
.type-round-progress .graph > div .progress-wrapper .round-progress-wrapper,
.type-round-progress .graph > div .progress-wrapper .bar-text-progress-wrapper {
  height: 180px;
}
.type-round-progress .graph > div .down-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}
.type-round-progress .graph > div .down-wrapper p {
  margin: 0px 25px;
  font-size: 20px;
  text-align: center;
}
.type-round-progress .graph > div .down-wrapper .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-round-progress .graph > div .down-wrapper .text-wrapper .text {
  font-size: 20px;
  font-family: Gotham;
  position: absolute;
  z-index: 2;
}
.type-round-progress .graph > div .down-wrapper .text-wrapper .round-progress-wrapper {
  z-index: 2;
}
.type-round-progress .graph > div .down-wrapper [class^="em-map-"].ng-enter {
  animation: scaleUp 10s;
}
.round-parent-wrapper {
  position: relative;
  top: 0px;
  left: 70px;
  width: -moz-calc(100% - 120px);
  width: -o-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
.round-parent-wrapper .round-wrapper {
  width: 3.5vw !important;
  height: 3.5vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.round-parent-wrapper .round-wrapper .text {
  font-size: .7vw;
  position: absolute;
  z-index: 2;
}
.round-parent-wrapper .round-wrapper .round-progress-wrapper {
  width: 3.5vw !important;
  height: 3.5vw !important;
  z-index: 1;
}
.round-parent-wrapper .round-wrapper .round-progress-wrapper > svg {
  width: 3.5vw !important;
  height: 3.5vw !important;
}
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
@keyframes scaleDown {
  to {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
